button {
            width: 30%;
            height: 30px;
            text-align: center;
        }

        #outline {
            width: 60%;
            position: absolute;
            padding: 15%;
        }

        #cal {
            border: 1px solid #000;
            width: 91%;
            height: 30px;
            text-align: right;
        }